@theme inline static {
  --color-msd-background-enabled: var(--msd-color-background-enabled);
  --color-msd-border-brand-enabled: var(--msd-color-border-brand-enabled);
  --color-msd-border-primary-enabled: var(--msd-color-border-primary-enabled);
  --color-msd-border-secondary-enabled: var(--msd-color-border-secondary-enabled);
  --color-msd-border-tertiary-enabled: var(--msd-color-border-tertiary-enabled);
  --color-msd-brand-blue-100: var(--msd-color-brand-blue-100);
  --color-msd-brand-blue-200: var(--msd-color-brand-blue-200);
  --color-msd-brand-blue-300: var(--msd-color-brand-blue-300);
  --color-msd-brand-blue-400: var(--msd-color-brand-blue-400);
  --color-msd-brand-blue-500: var(--msd-color-brand-blue-500);
  --color-msd-brand-blue-50: var(--msd-color-brand-blue-50);
  --color-msd-brand-blue-600: var(--msd-color-brand-blue-600);
  --color-msd-brand-blue-700: var(--msd-color-brand-blue-700);
  --color-msd-brand-blue-800: var(--msd-color-brand-blue-800);
  --color-msd-brand-blue-900: var(--msd-color-brand-blue-900);
  --color-msd-brand-blue-950: var(--msd-color-brand-blue-950);
  --color-msd-brand-mint-100: var(--msd-color-brand-mint-100);
  --color-msd-brand-mint-200: var(--msd-color-brand-mint-200);
  --color-msd-brand-mint-300: var(--msd-color-brand-mint-300);
  --color-msd-brand-mint-400: var(--msd-color-brand-mint-400);
  --color-msd-brand-mint-500: var(--msd-color-brand-mint-500);
  --color-msd-brand-mint-50: var(--msd-color-brand-mint-50);
  --color-msd-brand-mint-600: var(--msd-color-brand-mint-600);
  --color-msd-brand-mint-700: var(--msd-color-brand-mint-700);
  --color-msd-brand-mint-800: var(--msd-color-brand-mint-800);
  --color-msd-brand-mint-900: var(--msd-color-brand-mint-900);
  --color-msd-brand-mint-950: var(--msd-color-brand-mint-950);
  --color-msd-brand-orange-100: var(--msd-color-brand-orange-100);
  --color-msd-brand-orange-200: var(--msd-color-brand-orange-200);
  --color-msd-brand-orange-300: var(--msd-color-brand-orange-300);
  --color-msd-brand-orange-400: var(--msd-color-brand-orange-400);
  --color-msd-brand-orange-500: var(--msd-color-brand-orange-500);
  --color-msd-brand-orange-50: var(--msd-color-brand-orange-50);
  --color-msd-brand-orange-600: var(--msd-color-brand-orange-600);
  --color-msd-brand-orange-700: var(--msd-color-brand-orange-700);
  --color-msd-brand-orange-800: var(--msd-color-brand-orange-800);
  --color-msd-brand-orange-900: var(--msd-color-brand-orange-900);
  --color-msd-brand-orange-950: var(--msd-color-brand-orange-950);
  --color-msd-brand-pink-100: var(--msd-color-brand-pink-100);
  --color-msd-brand-pink-200: var(--msd-color-brand-pink-200);
  --color-msd-brand-pink-300: var(--msd-color-brand-pink-300);
  --color-msd-brand-pink-400: var(--msd-color-brand-pink-400);
  --color-msd-brand-pink-500: var(--msd-color-brand-pink-500);
  --color-msd-brand-pink-50: var(--msd-color-brand-pink-50);
  --color-msd-brand-pink-600: var(--msd-color-brand-pink-600);
  --color-msd-brand-pink-700: var(--msd-color-brand-pink-700);
  --color-msd-brand-pink-800: var(--msd-color-brand-pink-800);
  --color-msd-brand-pink-900: var(--msd-color-brand-pink-900);
  --color-msd-brand-pink-950: var(--msd-color-brand-pink-950);
  --color-msd-brand-purple-100: var(--msd-color-brand-purple-100);
  --color-msd-brand-purple-200: var(--msd-color-brand-purple-200);
  --color-msd-brand-purple-300: var(--msd-color-brand-purple-300);
  --color-msd-brand-purple-400: var(--msd-color-brand-purple-400);
  --color-msd-brand-purple-500: var(--msd-color-brand-purple-500);
  --color-msd-brand-purple-50: var(--msd-color-brand-purple-50);
  --color-msd-brand-purple-600: var(--msd-color-brand-purple-600);
  --color-msd-brand-purple-700: var(--msd-color-brand-purple-700);
  --color-msd-brand-purple-800: var(--msd-color-brand-purple-800);
  --color-msd-brand-purple-900: var(--msd-color-brand-purple-900);
  --color-msd-brand-purple-950: var(--msd-color-brand-purple-950);
  --color-msd-brand-red-100: var(--msd-color-brand-red-100);
  --color-msd-brand-red-200: var(--msd-color-brand-red-200);
  --color-msd-brand-red-300: var(--msd-color-brand-red-300);
  --color-msd-brand-red-400: var(--msd-color-brand-red-400);
  --color-msd-brand-red-500: var(--msd-color-brand-red-500);
  --color-msd-brand-red-50: var(--msd-color-brand-red-50);
  --color-msd-brand-red-600: var(--msd-color-brand-red-600);
  --color-msd-brand-red-700: var(--msd-color-brand-red-700);
  --color-msd-brand-red-800: var(--msd-color-brand-red-800);
  --color-msd-brand-red-900: var(--msd-color-brand-red-900);
  --color-msd-brand-red-950: var(--msd-color-brand-red-950);
  --color-msd-brand-teal-100: var(--msd-color-brand-teal-100);
  --color-msd-brand-teal-200: var(--msd-color-brand-teal-200);
  --color-msd-brand-teal-300: var(--msd-color-brand-teal-300);
  --color-msd-brand-teal-400: var(--msd-color-brand-teal-400);
  --color-msd-brand-teal-500: var(--msd-color-brand-teal-500);
  --color-msd-brand-teal-50: var(--msd-color-brand-teal-50);
  --color-msd-brand-teal-600: var(--msd-color-brand-teal-600);
  --color-msd-brand-teal-700: var(--msd-color-brand-teal-700);
  --color-msd-brand-teal-800: var(--msd-color-brand-teal-800);
  --color-msd-brand-teal-900: var(--msd-color-brand-teal-900);
  --color-msd-brand-teal-950: var(--msd-color-brand-teal-950);
  --color-msd-brand-yellow-100: var(--msd-color-brand-yellow-100);
  --color-msd-brand-yellow-200: var(--msd-color-brand-yellow-200);
  --color-msd-brand-yellow-300: var(--msd-color-brand-yellow-300);
  --color-msd-brand-yellow-400: var(--msd-color-brand-yellow-400);
  --color-msd-brand-yellow-500: var(--msd-color-brand-yellow-500);
  --color-msd-brand-yellow-50: var(--msd-color-brand-yellow-50);
  --color-msd-brand-yellow-600: var(--msd-color-brand-yellow-600);
  --color-msd-brand-yellow-700: var(--msd-color-brand-yellow-700);
  --color-msd-brand-yellow-800: var(--msd-color-brand-yellow-800);
  --color-msd-brand-yellow-900: var(--msd-color-brand-yellow-900);
  --color-msd-brand-yellow-950: var(--msd-color-brand-yellow-950);
  --color-msd-fill-brand-enabled: var(--msd-color-fill-brand-enabled);
  --color-msd-fill-brand-hovered: var(--msd-color-fill-brand-hovered);
  --color-msd-fill-primary-enabled: var(--msd-color-fill-primary-enabled);
  --color-msd-fill-primary-hovered: var(--msd-color-fill-primary-hovered);
  --color-msd-fill-secondary-enabled: var(--msd-color-fill-secondary-enabled);
  --color-msd-fill-tertiary-enabled: var(--msd-color-fill-tertiary-enabled);
  --color-msd-fill-tertiary-hovered: var(--msd-color-fill-tertiary-hovered);
  --color-msd-surface-primary-enabled: var(--msd-color-surface-primary-enabled);
  --color-msd-surface-secondary-enabled: var(--msd-color-surface-secondary-enabled);
  --color-msd-surface-secondary-hovered: var(--msd-color-surface-secondary-hovered);
  --color-msd-surface-tertiary-enabled: var(--msd-color-surface-tertiary-enabled);
  --color-msd-surface-tertiary-hovered: var(--msd-color-surface-tertiary-hovered);
  --color-msd-text-on-fill-brand-enabled: var(--msd-color-text-on-fill-brand-enabled);
  --color-msd-text-on-fill-primary-enabled: var(--msd-color-text-on-fill-primary-enabled);
  --color-msd-text-on-fill-secondary-enabled: var(--msd-color-text-on-fill-secondary-enabled);
  --color-msd-text-on-fill-tertiary-enabled: var(--msd-color-text-on-fill-tertiary-enabled);
  --color-msd-text-primary-enabled: var(--msd-color-text-primary-enabled);
  --color-msd-text-secondary-enabled: var(--msd-color-text-secondary-enabled);
}
/*
 * This file is automatically generated by scripts/tokens/app.mjs!
 */
/* color_primitives: default (default) */
:root {
  --msd-color-brand-blue-100: #d9defe;
  --msd-color-brand-blue-200: #b6c0fd;
  --msd-color-brand-blue-300: #8da0fc;
  --msd-color-brand-blue-400: #6383fb;
  --msd-color-brand-blue-50: #eef0ff;
  --msd-color-brand-blue-500: #1e64fa;
  --msd-color-brand-blue-600: #104fcc;
  --msd-color-brand-blue-700: #0a3a9b;
  --msd-color-brand-blue-800: #052871;
  --msd-color-brand-blue-900: #021645;
  --msd-color-brand-blue-950: #010e33;
  --msd-color-brand-mint-100: #e5fff8;
  --msd-color-brand-mint-200: #c7fff1;
  --msd-color-brand-mint-300: #a3ffea;
  --msd-color-brand-mint-400: #73ffe3;
  --msd-color-brand-mint-50: #f2fffb;
  --msd-color-brand-mint-500: #00ffdc;
  --msd-color-brand-mint-600: #00c7ab;
  --msd-color-brand-mint-700: #00927d;
  --msd-color-brand-mint-800: #006052;
  --msd-color-brand-mint-900: #00332a;
  --msd-color-brand-mint-950: #001e18;
  --msd-color-brand-orange-100: #ffe2dd;
  --msd-color-brand-orange-200: #ffc7bd;
  --msd-color-brand-orange-300: #ffa895;
  --msd-color-brand-orange-400: #ff8762;
  --msd-color-brand-orange-50: #fff0ee;
  --msd-color-brand-orange-500: #fc6500;
  --msd-color-brand-orange-600: #c74e00;
  --msd-color-brand-orange-700: #973900;
  --msd-color-brand-orange-800: #6a2600;
  --msd-color-brand-orange-900: #3c1200;
  --msd-color-brand-orange-950: #280900;
  --msd-color-brand-pink-100: #fdddec;
  --msd-color-brand-pink-200: #fcb5d8;
  --msd-color-brand-pink-300: #fa8dc7;
  --msd-color-brand-pink-400: #f95eb8;
  --msd-color-brand-pink-50: #feecf4;
  --msd-color-brand-pink-500: #eb23a5;
  --msd-color-brand-pink-600: #bd1a84;
  --msd-color-brand-pink-700: #8f1163;
  --msd-color-brand-pink-800: #630843;
  --msd-color-brand-pink-900: #3e0329;
  --msd-color-brand-pink-950: #280119;
  --msd-color-brand-purple-100: #fdddec;
  --msd-color-brand-purple-200: #fcb5d8;
  --msd-color-brand-purple-300: #fa8dc7;
  --msd-color-brand-purple-400: #f95eb8;
  --msd-color-brand-purple-50: #feecf4;
  --msd-color-brand-purple-500: #eb23a5;
  --msd-color-brand-purple-600: #bd1a84;
  --msd-color-brand-purple-700: #8f1163;
  --msd-color-brand-purple-800: #630843;
  --msd-color-brand-purple-900: #3e0329;
  --msd-color-brand-purple-950: #280119;
  --msd-color-brand-red-100: #ffd6d6;
  --msd-color-brand-red-200: #ffafaf;
  --msd-color-brand-red-300: #ff7f7f;
  --msd-color-brand-red-400: #ff3d3d;
  --msd-color-brand-red-50: #ffecec;
  --msd-color-brand-red-500: #df0000;
  --msd-color-brand-red-600: #b30000;
  --msd-color-brand-red-700: #8b0000;
  --msd-color-brand-red-800: #650000;
  --msd-color-brand-red-900: #3d0000;
  --msd-color-brand-red-950: #2d0000;
  --msd-color-brand-teal-100: #e5f6ff;
  --msd-color-brand-teal-200: #c2ecff;
  --msd-color-brand-teal-300: #a1e3ff;
  --msd-color-brand-teal-400: #6cdaff;
  --msd-color-brand-teal-50: #f2fbff;
  --msd-color-brand-teal-500: #00d2ff;
  --msd-color-brand-teal-600: #00a3c7;
  --msd-color-brand-teal-700: #007a95;
  --msd-color-brand-teal-800: #005063;
  --msd-color-brand-teal-900: #002c38;
  --msd-color-brand-teal-950: #001b23;
  --msd-color-brand-yellow-100: #fffadf;
  --msd-color-brand-yellow-200: #fff7cd;
  --msd-color-brand-yellow-300: #fff2a2;
  --msd-color-brand-yellow-400: #fff086;
  --msd-color-brand-yellow-50: #fffcf0;
  --msd-color-brand-yellow-500: #ffeb00;
  --msd-color-brand-yellow-600: #c8b800;
  --msd-color-brand-yellow-700: #918500;
  --msd-color-brand-yellow-800: #605800;
  --msd-color-brand-yellow-900: #312d00;
  --msd-color-brand-yellow-950: #1d1a00;
}
/* color_semantics: light (default) */
:root {
  --msd-color-background-enabled: var(--color-white);
  --msd-color-border-brand-enabled: var(--msd-color-brand-red-500);
  --msd-color-border-primary-enabled: var(--color-black);
  --msd-color-border-secondary-enabled: var(--color-neutral-200);
  --msd-color-border-tertiary-enabled: #ffffff;
  --msd-color-fill-brand-enabled: var(--msd-color-brand-red-500);
  --msd-color-fill-brand-hovered: var(--msd-color-brand-red-600);
  --msd-color-fill-primary-enabled: var(--color-black);
  --msd-color-fill-primary-hovered: var(--color-neutral-600);
  --msd-color-fill-secondary-enabled: var(--color-transparent);
  --msd-color-fill-tertiary-enabled: var(--color-transparent);
  --msd-color-fill-tertiary-hovered: var(--color-neutral-200);
  --msd-color-surface-primary-enabled: var(--color-white);
  --msd-color-surface-secondary-enabled: var(--color-neutral-100);
  --msd-color-surface-secondary-hovered: var(--color-neutral-200);
  --msd-color-surface-tertiary-enabled: var(--color-neutral-300);
  --msd-color-surface-tertiary-hovered: var(--color-neutral-400);
  --msd-color-text-on-fill-brand-enabled: var(--color-white);
  --msd-color-text-on-fill-primary-enabled: var(--color-white);
  --msd-color-text-on-fill-secondary-enabled: var(--color-black);
  --msd-color-text-on-fill-tertiary-enabled: var(--color-black);
  --msd-color-text-primary-enabled: var(--color-black);
  --msd-color-text-secondary-enabled: var(--color-neutral-600);
}
  /* color_semantics: dark (default) */
  .dark {
    --msd-color-background-enabled: var(--color-black);
    --msd-color-border-brand-enabled: var(--msd-color-brand-red-500);
    --msd-color-border-primary-enabled: var(--color-white);
    --msd-color-border-secondary-enabled: var(--color-neutral-700);
    --msd-color-border-tertiary-enabled: #ffffff;
    --msd-color-fill-brand-enabled: var(--msd-color-brand-red-500);
    --msd-color-fill-brand-hovered: var(--msd-color-brand-red-600);
    --msd-color-fill-primary-enabled: var(--color-white);
    --msd-color-fill-primary-hovered: var(--color-neutral-200);
    --msd-color-fill-secondary-enabled: var(--color-transparent);
    --msd-color-fill-tertiary-enabled: var(--color-transparent);
    --msd-color-fill-tertiary-hovered: var(--color-neutral-800);
    --msd-color-surface-primary-enabled: var(--color-neutral-800);
    --msd-color-surface-secondary-enabled: var(--color-neutral-700);
    --msd-color-surface-secondary-hovered: var(--color-neutral-600);
    --msd-color-surface-tertiary-enabled: var(--color-neutral-600);
    --msd-color-surface-tertiary-hovered: var(--color-neutral-700);
    --msd-color-text-on-fill-brand-enabled: var(--color-white);
    --msd-color-text-on-fill-primary-enabled: var(--color-black);
    --msd-color-text-on-fill-secondary-enabled: var(--color-white);
    --msd-color-text-on-fill-tertiary-enabled: var(--color-white);
    --msd-color-text-primary-enabled: var(--color-white);
    --msd-color-text-secondary-enabled: var(--color-neutral-400);
  }